.titleConfirmation {
    font-size: 1.5em;
    padding: 0.8%;
    margin: 1% 1%;
    border: 4px solid #1AAAAD;
    border-radius: 50px;
    background-color: #FFF;
    color: #1AAAAD;
    width: 17%;
}

.guestNameConfirmed {
    font-size: 2em;
    color: #1AAAAD;
    transition: 0.4s;
}

.guestNameConfirmed:hover {
    text-shadow: 1px 1px 40px #FFF;
}