li {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 2em;
}

.deleteGuestButton {


}

.test {
    width: 14%;
    display: flex;
    justify-content: space-between;
}