li  {
    list-style: none;
}

.alignGuestElements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    height: 60px;
    font-size: 2em;
}

.guestName, .guestCheckbox {
}

.divEditInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    height: 60px;
    font-size: 2em;
}

.editInput {
    width: 50%;
    text-align: center;
}



.fa {
    color: #FFF;
}

.fa-ban:hover {
    color: #dd0b0b;
}

.fa-check:hover {
    color: #46e244;
}